@keyframes rotate{
    from{
        rotate: 0deg;
    }

    25%{
        scale: 1 1.5;
    }

    50%{
        scale: 1.5 1;
    }

    75%{
        scale: 1 1.5
    }

    to{
        rotate: 360deg;
    }
}

.bodyContainer{
    position: fixed;
    z-index: -3;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

.backgroundBlob{
    background-color: white;
    height: 500px;
    aspect-ratio: 1;

    position: absolute;
    z-index: -3;

    width: 25rem;
    height: 25rem;

    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;

    filter: blur(200px);

    background: linear-gradient(
        to right,
        aquamarine,
        purple
    );

    animation: rotate 30s infinite linear;
}

.blur{
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -2;

    backdrop-filter: blur(12px);
}

body{
    background-color: black;
    background-size: 100% 100%;

    overflow-x: hidden;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
    
    font-family: 'Courier New', Courier, monospace;
}

.footer{
    color: white;

    display: flex;
    flex-direction: row;

    background-color: black;

    h2{font-size: 2rem;}
    p{font-size: 1.5rem;}

    text-align: center;

    .subContainer1{
        width: 100%;
    }

    .subContainer2{
        width: 100%;
    }
}