.navBar{
    position: fixed;

    height: 10vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    color: white;

    background-color: black;
    
    z-index: 10;

    h1{
        margin-left: 10%;
        margin-right: 15%;

        font-size: 3rem;
    }

    h1:hover{
        cursor: pointer;
    }

    h2{
        margin-right: 4%;

        font-size: 1.5rem;
    }

    h2:hover{
        cursor: pointer;
    }
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    img{
        width: 80%;
        max-width: 1750px;

        margin-top: -2%;

        z-index: 5;
    }

    h1{
        font-size: 5rem;

        margin-top: -7%;
    }

    h2{ 
        font-size: 1.5rem;

        margin-top: 0%;
    }

    color: white;

    /*Animações específicas dos elementos*/
    /*Da imagem*/
    img.hidden{
        transition: all 1s;

        opacity: 0;
        transform: scale(0.8);
    }

    img.show{
        opacity: 1;
        transform: scale(1);
    }

    /*Do título*/
    h1.hidden{
        transition: all 1s;
        transition-delay: 0.4s;

        opacity: 0;
        transform: scale(0.8) translateY(-100%);
    }

    h1.show{
        opacity: 1;
        transform: scale(1) translateY(0%);
    }

    /*Do subtítulo*/
    h2.hidden{
        transition: all 1s;
        transition-delay: 0.6s;

        opacity: 0;
        transform: scale(0.8) translateY(-200%);
    }

    h2.show{
        opacity: 1;
        transform: scale(1) translateY(0%);
    }
}

.infoText{
    display: flex;
    flex-direction: row;

    position: relative;

    text-align: center;

    color: white;

    width: 100%;
    height: 90vh;

    margin-top: 10%;

    h2{font-size: 3rem;}

    p{font-size: 1.5rem;}

    /*Texto à esquerda*/
    .subContainer1{
        width: 100%;

        padding: 5%;

        margin-top: 8%;

        text-align: right;

        /*Animações específicas dos elementos*/
        /*Do título*/
        h2.hidden{
            transition: all 1s;

            opacity: 0;
            transform: translateX(-110%);
            filter: blur(3px);
        }

        h2.show{
            opacity: 1;
            transform: translateX(0%);
            filter: blur(0px);
        }

        /*Do parágrafo*/
        p.hidden{
            transition: all 1s;
            transition-delay: 0.3s;

            opacity: 0;
            transform: translateX(-110%);
            filter: blur(3px);
        }

        p.show{
            opacity: 1;
            transform: translateX(0%);
            filter: blur(0px);
        }
    }

    /*Texto à direita*/
    .subContainer2{
        width: 100%;

        padding: 5%;

        margin-top: 8%;

        text-align: left;

        /*Animações específicas dos elementos*/
        /*Do título*/
        h2.hidden{
            transition: all 1s;

            opacity: 0;
            transform: translateX(110%);
            filter: blur(3px);
        }

        h2.show{
            opacity: 1;
            transform: translateX(0%);
            filter: blur(0px);
        }

        /*Do parágrafo*/
        p.hidden{
            transition: all 1s;
            transition-delay: 0.3s;

            opacity: 0;
            transform: translateX(110%);
            filter: blur(3px);
        }

        p.show{
            opacity: 1;
            transform: translateX(0%);
            filter: blur(0px);
        }
    }

    .infoTextBackground{
        position: absolute;

        width: 100%;
        height: 100%;

        background-image: url("../assets/Background.jpg");

        background-position: 0% 0%;
        background-size: 100% 100%;

        z-index: -1;

        box-shadow: 0 0 70px rgba(125, 0, 125, 0.5);        
    } 

    .hidden.infoTextBackground{
        transition: transform 1s;

        transform: translateX(-100%);
    }
    .show.infoTextBackground{
        transform: translateX(0%);
    }
}

.areas{
    display: flex;
    flex-direction: column;
    
    color: white;

    width: 100%;

    margin-top: 20%;
    margin-bottom: 25%;

    position: relative;

    .areasTitle{
        text-align: center;

        font-size: 3rem;
    }

    /*Animação específica para o areasTitle*/
    .areasTitle.hidden{
        transition: all 1s;

        opacity: 0;
        transform: translateY(-100%);
    }   

    .areasTitle.show{
        opacity: 1;
        transform: translateY(0%);
    }

    .areaLeft{
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;

        height: 100%;

        .areaText{
            text-align: left;

            transition: transform 0.5s ease-in-out;

            h2{
                text-align: left;

                margin-left: 4%;
            }

            p{margin-left: 4%;}
        }

        /*Animações específicas dos elementos*/
        /*Do subtítulo*/
        .areaText.hidden h2{
            transition: all 1s;
            transition-delay: 0.2s;

            opacity: 0;
            filter: blur(5px);
            transform: translateX(110%);
        }

        .areaText.show h2{
            opacity: 1;
            filter: blur(0px);
            transform: translateX(0%);
        }

        /*Do parágrafo*/
        .areaText.hidden p{
            transition: all 1s;
            transition-delay: 0.3s;

            opacity: 0;
            filter: blur(5px);
            transform: translateX(110%);
        }

        .areaText.show p{
            opacity: 1;
            filter: blur(0px);
            transform: translateX(0%);
        }   

        /*Da imagem*/
        .areaImage.hidden{
            transition: transform 1s;
        }

        .areaImage.show{
            transform: scale(2) translateX(17%);;
        }
    }

    .areaRight{
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;

        height: 100%;

        .areaText{
            text-align: right;
            
            transition: transform 0.5s ease-in-out;

            h2{
                text-align: right;

                margin-right: 4%;
            }

            p{margin-right: 4%;}
        }

        .areaImage{
            img{margin-left: 30%;}
        }

        /*Animações específicas dos elementos*/
        /*Do subtítulo*/
        .areaText.hidden h2{
            transition: all 1s;
            transition-delay: 0.2s;

            opacity: 0;
            filter: blur(5px);
            transform: translateX(-110%);
        }

        .areaText.show h2{
            opacity: 1;
            filter: blur(0px);
            transform: translateX(0%);
        }

        /*Do parágrafo*/
        .areaText.hidden p{
            transition: all 1s;
            transition-delay: 0.3s;

            opacity: 0;
            filter: blur(5px);
            transform: translateX(-110%);
        }

        .areaText.show p{
            opacity: 1;
            filter: blur(0px);
            transform: translateX(0%);
        }   

        /*Da imagem*/
        .areaImage.hidden{
            transition: transform 1s;
        }

        .areaImage.show{
            transform: scale(2) translateX(-17%);;
        }
    }

    .areaText{
        width: 70%;

        z-index: 3;

        h2{font-size: 2rem;}

        p{font-size: 1.5rem;}
    }

    .areaImage{
        width: 30%;
 
        img{width: 70%;}
    }
}

.gamesDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 90vh;
    width: 100%;

    .displayTitle{
        display: flex;
        flex-direction: column;
    
        position: relative;
    
        text-align: center;
    
        color: white;
    
        h2{
            font-size: 3rem;
        }
    
        p{
            font-size: 1.5rem;
        }

        /*Animações específicas dos elementos*/
        /*Do título**/
        h2.hidden{
            transition: all 1s;

            opacity: 0;
            transform: translateX(100%);
        }

        h2.show{
            opacity: 1;
            transform: translateX(0%);
        }

        /*Do parágrafo*/
        p.hidden{
            transition: all 1s;
            transition-delay: 0.5s;

            opacity: 0;
            transform: translateX(100%);
        }

        p.show{
            opacity: 1;
            transform: translateX(0%);
        }
    }

    .display{
        display: flex;
        flex-direction: row;
        gap: 50px;
    
        width: 133rem;
        height: 18rem;
    
        position: relative;
    
        left: 50%;
        top: 12%;
        transform: translate(-50%, 0);

        .imagesContainer{
            display: flex;
            flex-direction: row;
            gap: 15px;
        
            position: absolute;
            z-index: 1;
        
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            
            img{
                width: 10rem;
                height: 17rem;
        
                object-fit: cover;
                object-position: center center;
        
                border: solid 2px black;
            }

            /*Animação específica das imagens*/
            img.hidden{
                transition: opacity 1s, transform 1s;

                opacity: 0;
                transform: scale(0);
            }

            img.show{
                transition: opacity 0.3s, z-index 0s linear 0.3s, transform 0.2s, width 0.3s;

                opacity: 1;
                transform: scale(1);
                z-index: -1;
            }

            img:nth-child(1){transition-delay: 2s;}
            img:nth-child(2){transition-delay: 1.8s;}
            img:nth-child(3){transition-delay: 1.6s;}
            img:nth-child(4){transition-delay: 1.4s;}
            img:nth-child(5){transition-delay: 1.2s;}
            img:nth-child(6){transition-delay: 1s;}
            img:nth-child(7){transition-delay: 0.8s;}
            img:nth-child(8){transition-delay: 0.6s;}
            img:nth-child(9){transition-delay: 0.4s;}
            img:nth-child(10){transition-delay: 0.2s;}
            img:nth-child(11){transition-delay: 0s;}
        }
        
        .imagesContainer:hover > img{
            transition-delay: 0s;

            opacity: 0.6;
        }
        
        .imagesContainer:hover > img:hover{
            transition-delay: 0s;

            cursor: pointer;
        
            opacity: 1;

            z-index: 1;
            
            transform: scale(1.3);
        
            width: 20rem;
        }
    }

    .imageNameText{
        color: white;
    
        font-size: 1.5rem;
        text-align: center;

        height: 25%;
        width: 100%;

        margin-top: 10%;
    }

    .gamesDisplayBackground{
        position: absolute;

        width: 100%;
        height: 90vh;

        background-image: url("../assets/Background.jpg");

        background-position: 0% 0%;
        background-size: 100% 100%;

        z-index: -1;

        box-shadow: 0 0 70px rgba(125, 0, 125, 0.5);       
    }

    .hidden.gamesDisplayBackground{
        transition: transform 1s;

        transform: translateX(100%);
    }
    .show.gamesDisplayBackground{
        transform: translateX(0%);
    }
}

body{
    user-select: none;
}

@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}