.medalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0;
  }
  
  .medalIcon {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }
  
  .medalName {
    font-size: 1rem;
    color:white
  }

